*:focus {
    outline: none;
}

.chat-main {
    width: calc(100% - 312px);
    background-color: rgb(54, 57, 63);
    color: white;
}

.chatBox {
    height: calc(100vh - 119px);
    overflow: hidden;
}

.chatMessages {
    overflow: hidden auto;
    height: inherit;
    display: flex;
    flex-direction: column-reverse;
}

.chatMessages::-webkit-scrollbar {
    background-color: #2F3136;
    width: 10px;
}

.chatMessages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px #2F3136;
    border: solid 2px transparent;
}

.chatMessages::-webkit-scrollbar-thumb {
    background-color: rgb(32, 34, 37);
    border-radius: 7px;
    width: 10px;
    box-shadow: inset 0 0 10px 10px rgb(32, 34, 37);
    border: solid 3px #2F3136;
}

.chatNav{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #36393F;
    border-bottom: 1px solid rgb(36, 35, 35);
}

.chatNavButtons{
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(185,187,190);
    font-size: 20px;
    background-color: rgb(54,57,63);
}

.chatNavButtons-friends{
    border-radius: 2px;
    margin-right: 15px;
    padding: 2px 8px;
    cursor: pointer;
    color: rgb(185,187,190);
    background-color: rgb(54,57,63);
    font-weight: normal;
}

.chatNavButtons-friends:hover{
    color: white;
    background-color: rgb(61, 61, 71);
}


.chatNavButtons:hover{
    color: white;
}


.addFile{
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(185,187,190);
    font-size: 20px;
    background-color: rgb(75,79,87);  
}

.addFile:hover {
    color: white;
}

.chatNavSearch{
    background-color: rgb(32,34,37);
    color: lightgray;
    border: 0px;
    padding: 5px;
    border-radius: 5px;
} 

.chatNavSearch:focus {
    width: 250px;
}


.searchCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: grey;
    font-size: 20px;
    background-color: rgb(54,57,63);
    margin-right: 20px;
    border-radius: 4px;
}

.glass{
    margin-left: -20px;
    cursor: pointer;
    border: none;
    color: grey;
    font-size: 15px;
    background-color: rgb(32,34,37);
}

.chatSeperator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    height: 0;
    border-top: thin solid rgb(66, 69, 74);
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 1.5rem .875rem 1.5rem 1rem;
}

.chatDate {
display: block;
flex: 0 0 auto;
padding: 2px 4px;
background-color: rgb(54, 57, 63);
line-height: 13px;
font-size: 12px;
margin-top: -1px;
font-weight: 600;
border-radius: 8px;
color: rgb(114, 118, 125);
}

.messageContainer {
    padding-right: 48px !important;
    min-height: 2.75rem;
    position: relative;
    word-wrap: break-word;
    user-select: text;
    flex: 0 0 auto;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 72px;
    overflow: hidden;
}

.chatContents {
    position: static;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
}

.avatar {
    position: absolute;
    left: 16px;
    margin-top: calc(4px - .125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1
}

.ChatMessageHeader {
    display: block;
    position: relative;
    line-height: 1.375rem;
    min-height: 1.375rem;
    color: rgb(114, 118, 125);
    white-space: break-spaces;
    word-wrap: pre-wrap
}

.ChatMessageHeaderText {
    margin-right: .25rem
}

.ChatMessageHeaderUserName {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: white;
    display: inline;
    vertical-align: baseline;
    position: relative;
    overflow: hidden;
    flex-shrink: 0
}

.ChatMessageHeaderTimestamp {
    display: inline-block;
    height: .25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
    margin-left: .25rem;
    font-size: .75rem;
}

.ChatMessageContent {
text-indent: 0;
display: inline;
word-wrap: break-word;
width: 1.375em;
height: 1.375em;
min-height: 1.375em;
margin-left: -72px;
padding-left: 72px;
position: relative;
font-size: 1rem;
line-height: 1.375rem;
white-space: pre-wrap;
white-space: break-spaces;
word-wrap: break-word;
user-select: text;
color: white;
font-weight: 400
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.friendsNavStart {
    padding: 3px 5px 3px 10px
}

.friendsNavIcon {
    padding-right: 15px;
    border-right: rgb(82, 78, 78) 1px solid;
}

#addFriendBtn {
    color: white;
    background-color: rgb(64, 164, 96);
    border-radius: 5px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500
}


.icon {
    color: rgb(185, 187, 190);
    display: inline;
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.messageInput {
    background-color: rgb(54, 57, 63);
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 68px;
    padding: 0 16px;
    width: calc(100% - 344px);

} 

.mi-messageBar {
    height: 44px;
    background-color: rgb(75, 79, 87);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 16px;
    justify-content: space-between;
}

.mi-attach {
    display: flex;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
}

.mi-attachInput {
    display: flex;
    align-items: center;
    flex: 1;
}
.mi-input {
    width: 100%;
}
.mi-input input{
    color: white;
    border: 0;
    outline-color: none;
    background-color: rgb(75, 79, 87);
    height: 22px;
    width: 100%;
    font-size: 16px;
}

.mi-barIcons:hover {
    color: white;
    cursor: pointer;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}



.tooltiptext {
    font-size: small;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;

    top: 100%;
    left: 50%;
    margin-left: -65px;
}

.tooltiptext-sm {
    font-size: small;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;

    top: 100%;
    left: 50%;
    margin-left: -35px;
}

.tooltip:hover .tooltiptext, .tooltip:hover .tooltiptext-sm {
    visibility: visible;
    opacity: 1;
}

.tooltip-search {
    position: relative;
    display: inline-block;
}


.tooltiptext-search {
    font-size: small;
    visibility: hidden;
    width: 100%;
    background-color: #36393F;
    border: 1px rgb(29, 29, 29) solid;
    color: grey;
    padding: 10px 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    margin-top: 5px;
    font-weight: bold;
    z-index: 1;

}

.tooltip-search:focus-within .tooltiptext-search {
    visibility: visible;
} 

.tooltiptext-search li {
    list-style: none;
}

.tooltipLabel {
    color: rgb(214, 213, 213);
}

.tooltiptext-search ul:hover {
    background-color: #1f2024;
} 

.tooliptext-searchDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 8px;
    color: rgb(214, 213, 213);
}

.tooltiptext-search ul {
    padding: 8px 8px;
    border-radius: 5px;
    cursor: pointer;
} 

.tooltip-so {
    cursor: pointer;
    /* position: relative; */
    display: inline-block;
}

.tooltiptext-so {
    font-size: small;
    text-align: center;
    visibility: hidden;
    width: 35%;
    background-color: black;
    color: white;
    padding: 3px 3px 7px 3px;
    border-radius: 6px;
    position: absolute;
    bottom: 89%;
    right: 10%;
    z-index: 1;
    opacity: 0;
    transition: 0.35s;
}

.tooltip-so:hover .tooltiptext-so {
    visibility: visible;
    opacity: 1;
}

.addNewFriend {
    border-bottom: 1px solid rgb(42, 42, 42);
    padding: 10px 0px 10px 30px;
}
.addNewFriend p{
    padding: 10px 0px;
}
.addNewFriend input[type=text]{
    width: 60vw;
    background: rgb(48,51,57);
    padding: 20px 15px;
    color: white;
    border: 1px solid rgb(42, 42, 42);
    border-radius: 10px;
    font-size: larger;
}

.addNewFriend input[type=submit]{
    align-content: center;
    vertical-align: middle;
    margin-left: -180px;
    width: 155px;
    height: 40px;
    background: rgb(88,101,242);
    border: none;
    color: white;
    border-radius: 3.5px;
    padding: 10px;
    cursor: pointer;
}

.TEST {
    height: 100%;
    padding: 20px 25px 10px 25px;
    font-size: 12px;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
    color: rgb(185, 187, 190);
}